In [9]:
import pandas as pd

left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'Key': ['K0', 'K1', 'K4', 'K5'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

pd.concat([left, right], axis=1)

  Key   A   B Key   C   D
0  K0  A0  B0  K0  C0  D0
1  K1  A1  B1  K1  C1  D1
2  K2  A2  B2  K4  C2  D2
3  K3  A3  B3  K5  C3  D3

In [18]:
# scalanie nastÄ™puje na podstawie kolumn o takich samych nazwach w obu DF
# tutaj kolumny o tych samych nazwach w obu DF to Key
pd.merge(left, right)
pd.merge(left, right, how='outer')
pd.merge(left, right, how='left')
pd.merge(left, right, how='right')

  Key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K4  NaN  NaN  C2  D2
3  K5  NaN  NaN  C3  D3

In [19]:
# on='nazwa_kolumny' na ktorej nastepuje scalanie
# tutaj jest tylko jedna wspolna kolumna KEY i scalanie wyglada identycznie jak powyzej
pd.merge(left, right, on='Key')
pd.merge(left, right, how='outer', on='Key')
pd.merge(left, right, how='left', on='Key')
pd.merge(left, right, how='right', on='Key')

  Key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K4  NaN  NaN  C2  D2
3  K5  NaN  NaN  C3  D3