In [1]:
import pandas as pd
pd.set_option('display.max.columns', None)
pd.set_option('display.precision', 2)

url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv'
df = pd.read_csv(url)
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [3]:
df.describe().round(2).T
df.describe(include=object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,194611010TRH,NBA,4/13/2011,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [4]:
df.loc[df['fran_id'] == 'Lakers', 'team_id'].value_counts()

team_id
LAL    5078
MNL     946
Name: count, dtype: int64

In [5]:
df['game_played'] = pd.to_datetime(df['date_game'])
df['game_played'].head()

0   1946-11-01
1   1946-11-01
2   1946-11-02
3   1946-11-02
4   1946-11-02
Name: game_played, dtype: datetime64[ns]

In [6]:
df.loc[df['team_id'] == 'MNL', 'game_played'].agg(['min', 'max'])

min   1948-11-04
max   1960-03-26
Name: game_played, dtype: datetime64[ns]

In [11]:
df[df["fran_id"].str.startswith('Bom')]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,game_played
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.00,1304.69,41.49,PIT,Ironmen,51,1300.00,1295.31,H,W,0.64,NaN,1946-11-02
16,9,194611050DTF,NBA,1,1947,11/5/1946,2,0,STB,Bombers,53,1304.69,1312.85,42.35,DTF,Falcons,49,1279.62,1271.46,A,W,0.39,NaN,1946-11-05
22,12,194611070STB,NBA,0,1947,11/7/1946,3,0,STB,Bombers,63,1312.85,1302.60,41.27,NYK,Knicks,68,1297.07,1307.32,H,L,0.66,NaN,1946-11-07
32,17,194611090STB,NBA,0,1947,11/9/1946,4,0,STB,Bombers,70,1302.60,1305.73,41.60,WSC,Capitols,69,1337.74,1334.61,H,W,0.59,NaN,1946-11-09
47,24,194611140STB,NBA,0,1947,11/14/1946,5,0,STB,Bombers,64,1305.73,1308.47,41.89,BOS,Celtics,62,1269.89,1267.15,H,W,0.69,NaN,1946-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2958,1480,195003120ROC,NBA,1,1950,3/12/1950,64,0,STB,Bombers,72,1366.78,1363.65,31.96,ROC,Kings,99,1647.29,1650.42,A,L,0.10,NaN,1950-03-12
2964,1483,195003140BOS,NBA,1,1950,3/14/1950,65,0,STB,Bombers,86,1363.65,1378.48,33.45,BOS,Celtics,76,1372.76,1357.94,A,W,0.35,NaN,1950-03-14
2984,1493,195003160STB,NBA,0,1950,3/16/1950,66,0,STB,Bombers,71,1378.48,1384.27,34.04,BLB,Baltimore,63,1368.74,1362.95,H,W,0.65,NaN,1950-03-16
2989,1495,195003170CHS,NBA,1,1950,3/17/1950,67,0,STB,Bombers,85,1384.27,1411.27,36.82,CHS,Stags,69,1510.53,1483.54,A,W,0.21,at Toledo OH,1950-03-17
3006,1504,195003190STB,NBA,0,1950,3/19/1950,68,0,STB,Bombers,64,1411.27,1395.82,35.22,CHS,Stags,80,1484.94,1500.39,H,L,0.54,NaN,1950-03-19